openapi: 3.2.0
info:
  version: 0.0.1
  title: Mode Invites API
  description: 'Mode provides a REST API for many common operations, such as:


    * Listing spaces and reports

    * Running reports

    * Downloading query results


    ## Authentication


    For most Mode API calls, the client must supply an API token and secret for

    HTTP basic authentication.


    If authentication is required for a given resource, unauthenticated requests

    will result in a `401 Unauthorized` response.


    Create and Manage API Tokens'
  termsOfService: https://mode.com/tos/
  contact:
    name: Mode API Team
    email: support@modeanalytics.com
  license:
    name: MIT
servers:
- url: https://modeanalytics.com/api
security:
- accessTokenAuth: []
tags:
- name: Invites
paths:
  /{workspace}/invites:
    x-summary: Invite
    post:
      operationId: createOrganizationInvite
      summary: Create an invitation
      description: Creates a `User` and invites `User` to `Workspace`
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Membership` not found for `Workspace`'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`WorkspaceInvite` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Invite'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInviteRequestBody'
      tags:
      - Invites
components:
  schemas:
    NotFound:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - not_found
        message:
          type: string
    Forbidden:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - forbidden
        message:
          type: string
    CreateInviteRequestBody:
      required:
      - invite
      type: object
      properties:
        invite:
          required:
          - invitee
          - message
          type: object
          properties:
            invitee:
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                  example: harold.ceramicist@example.com
            message:
              type: string
              example: You are an analyst, Harry!
    InviteLinks:
      properties:
        inviter:
          $ref: '#/components/schemas/Link'
        invitee:
          $ref: '#/components/schemas/Link'
        web_self_resend:
          $ref: '#/components/schemas/Link'
      required:
      - inviter
      - web_self_resend
    Link:
      required:
      - href
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
    BadRequest:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - bad_request
        message:
          type: string
    Unauthorized:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - unauthorized
        message:
          type: string
    Invite:
      properties:
        email:
          type: string
        message:
          type: string
        inviter_id:
          type: string
        invitee_id:
          type: string
        organization_id:
          type: string
        limited:
          type: string
        sent_at:
          type: string
        resent_at:
          type: string
        clicked_at:
          type: string
        accepted_at:
          type: string
        expires_at:
          type: string
        created_at:
          type: string
        _links:
          $ref: '#/components/schemas/InviteLinks'
        _embedded:
          $ref: '#/components/schemas/InviteEmbeds'
      required:
      - _links
      - email
      - message
      - inviter_id
      - invitee_id
      - organization_id
      - limited
      - expires_at
      - created_at
    InviteEmbeds: {}
  securitySchemes:
    accessTokenAuth:
      type: http
      scheme: basic
