openapi: 3.2.0
info:
  version: 0.0.1
  title: Mode Memberships API
  description: 'Mode provides a REST API for many common operations, such as:


    * Listing spaces and reports

    * Running reports

    * Downloading query results


    ## Authentication


    For most Mode API calls, the client must supply an API token and secret for

    HTTP basic authentication.


    If authentication is required for a given resource, unauthenticated requests

    will result in a `401 Unauthorized` response.


    Create and Manage API Tokens'
  termsOfService: https://mode.com/tos/
  contact:
    name: Mode API Team
    email: support@modeanalytics.com
  license:
    name: MIT
servers:
- url: https://modeanalytics.com/api
security:
- accessTokenAuth: []
tags:
- name: Memberships
paths:
  /{workspace}/memberships:
    x-summary: Workspace Memberships
    get:
      operationId: listMemberships
      summary: List memberships
      description: Returns a list of `Membership`s
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Workspace` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      tags:
      - Memberships
  /{workspace}/memberships/{membership}:
    x-summary: Workspace Membership
    get:
      operationId: getMembership
      summary: Get a membership
      description: Returns a representation of a `Membership`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Membership` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Membership` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Membership'
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: membership
        in: path
        description: '`Membership` token'
        required: true
        schema:
          type: string
      tags:
      - Memberships
    delete:
      operationId: deleteMembership
      summary: Delete a membership
      description: Deletes a `Membership`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Membership` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`Membership` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Membership'
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: membership
        in: path
        description: '`Membership` token'
        required: true
        schema:
          type: string
      tags:
      - Memberships
components:
  schemas:
    NotFound:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - not_found
        message:
          type: string
    Membership:
      properties:
        admin:
          type: boolean
        invited:
          type: boolean
        state:
          type: string
        member_username:
          type: string
        member_token:
          type: string
        activated_at:
          type: string
        managed_by_scim:
          type: boolean
        _links:
          $ref: '#/components/schemas/MembershipLinks'
        _embedded:
          $ref: '#/components/schemas/MembershipEmbeds'
      required:
      - _links
      - admin
      - state
      - member_username
      - member_token
      - activated_at
    Link:
      required:
      - href
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
    BadRequest:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - bad_request
        message:
          type: string
    MembershipEmbeds: {}
    Unauthorized:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - unauthorized
        message:
          type: string
    MembershipLinks:
      properties:
        self:
          $ref: '#/components/schemas/Link'
        web_self:
          $ref: '#/components/schemas/Link'
        web_self_unban:
          $ref: '#/components/schemas/Link'
        web_self_approve:
          $ref: '#/components/schemas/Link'
        organization:
          $ref: '#/components/schemas/Link'
        user:
          $ref: '#/components/schemas/Link'
        web_self_download_profile:
          $ref: '#/components/schemas/Link'
        web_self_confirm_destroy:
          $ref: '#/components/schemas/Link'
        groups:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - web_self
      - organization
      - groups
  securitySchemes:
    accessTokenAuth:
      type: http
      scheme: basic
