openapi: 3.2.0
info:
  version: 0.0.1
  title: Mode Reports API
  description: 'Mode provides a REST API for many common operations, such as:


    * Listing spaces and reports

    * Running reports

    * Downloading query results


    ## Authentication


    For most Mode API calls, the client must supply an API token and secret for

    HTTP basic authentication.


    If authentication is required for a given resource, unauthenticated requests

    will result in a `401 Unauthorized` response.


    Create and Manage API Tokens'
  termsOfService: https://mode.com/tos/
  contact:
    name: Mode API Team
    email: support@modeanalytics.com
  license:
    name: MIT
servers:
- url: https://modeanalytics.com/api
security:
- accessTokenAuth: []
tags:
- name: Reports
paths:
  /{account}/reports/{report}/queries/{query}/charts:
    x-summary: Charts
    get:
      operationId: listChartsInQuery
      summary: List Charts for a Query
      description: Returns all `Chart`s for a `Query`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Chart` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/QueryCharts'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: query
        in: path
        description: '`Query` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/queries/{query}/charts/{chart}:
    x-summary: Chart
    get:
      operationId: getChart
      summary: Get a chart
      description: Returns a representation of a single `Chart`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Chart` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Chart` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Chart'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: query
        in: path
        description: '`Query` token'
        required: true
        schema:
          type: string
      - name: chart
        in: path
        description: '`Chart` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/queries:
    x-summary: Queries
    get:
      operationId: listQueriesInReport
      summary: List queries
      description: Returns all `Queries` in a `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Query` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportQueries'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
    post:
      operationId: createQueryInReport
      summary: Create a query
      description: Creates a `Query` in a `Report`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Query` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Query'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQueryRequestBody'
      tags:
      - Reports
  /{account}/reports/{report}/queries/{query}:
    x-summary: Query
    get:
      operationId: getQueryInReport
      summary: Get a query
      description: Returns a `Query` in a `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Query` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Query'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: query
        in: path
        description: '`Query` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
    patch:
      operationId: updateQueryInReport
      summary: Update a query
      description: Updates a `Query` in a `Report`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: query
        in: path
        description: '`Query` token'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Query` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Query'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQueryRequestBody'
      tags:
      - Reports
    delete:
      operationId: deleteQueryInReport
      summary: Delete a query
      description: Deletes a `Query` in a `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Query` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Query'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: query
        in: path
        description: '`Query` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/query_runs:
    x-summary: Query Runs
    get:
      operationId: listQueryRunsForReportRun
      summary: List query runs
      description: Returns all `QueryRun`s for a single `ReportRun`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: '`QueryRun` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/QueryRuns'
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/query_runs/{query_run}:
    x-summary: Query Runs
    get:
      operationId: getQueryRunForReportRun
      summary: Get a query run
      description: Returns a `QueryRun` for a single `ReportRun`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      - name: query_run
        in: path
        description: '`Query Run` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: '`Query Run`response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/QueryRun'
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/query_runs/{query_run}/results/content(.csv, .json):
    x-summary: Export
    get:
      operationId: getQueryRunContent
      summary: Get query results
      description: Gets the content of a query run in the requested format (csv or json)
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      - name: query_run
        in: path
        description: '`Query Run` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: '`Query Run` result content in the requested format'
      tags:
      - Reports
  /{account}/reports/{report}/filters:
    x-summary: Report Filters
    get:
      operationId: listReportFilters
      summary: List report filters
      description: Returns all `ReportFilter`s for a single `Report`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`ReportFilter` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportFilters'
      tags:
      - Reports
    post:
      operationId: createReportFilter
      summary: Create a report filter
      description: Creates a `ReportFilter`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`ReportFilter` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportFilter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateReportFilterRequestBody'
        description: '`ReportFilter` attributes'
        required: true
      tags:
      - Reports
  /{account}/reports/{report}/filters/{filter}:
    x-summary: Report Filter
    get:
      operationId: getReportFilter
      summary: Get a report filter
      description: Gets a `ReportFilter`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: filter
        in: path
        description: '`ReportFilter` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportFilter` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`ReportFilter` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportFilter'
      tags:
      - Reports
    patch:
      operationId: updateReportFilter
      summary: Update a report filter
      description: Updates a `ReportFilter`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: filter
        in: path
        description: '`ReportFilter` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportFilter` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`ReportFilter` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportFilter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateReportFilterRequestBody'
        description: '`ReportFilter` attributes'
        required: true
      tags:
      - Reports
    delete:
      operationId: deleteReportFilter
      summary: Delete a report filter
      description: Deletes a `ReportFilter`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: filter
        in: path
        description: '`ReportFilter` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportFilter` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`ReportFilter` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportFilter'
      tags:
      - Reports
  /{account}/reports/{report}/exports/runs/{run}/pdf/download:
    x-summary: Export
    get:
      operationId: getReportRunExport
      summary: Get PDF of a report run
      description: Gets exported pdf of the report run
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: The data stream containing the exported pdf file
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/duplicates/{duplicate}:
    x-summary: Report Runs
    get:
      operationId: getReportRunDuplicate
      summary: Get report run duplication status
      description: Returns a representation of a single `ReportRunDuplicate`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      - name: duplicate
        in: path
        description: '`ReportRunDuplicate` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRunDuplicate` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: '`ReportRunDuplicate` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportRunDuplicate'
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/duplicates:
    x-summary: Report Runs
    post:
      operationId: duplicateReportRun
      summary: Duplicate a report run
      description: Returns a representation of the enqueued `ReportRunDuplicate`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      - in: query
        name: collection_id
        required: false
        description: 'The token of a collection. Example: collection_id=875a93v22b93'
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`ReportRunDuplicate` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportRunDuplicate'
      tags:
      - Reports
  /{account}/reports/{report}:
    x-summary: Report
    patch:
      operationId: updateReport
      summary: Update a report
      description: Updates a single `report` with the provided attributes
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Report` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Report'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReportRequestBody'
      tags:
      - Reports
    get:
      operationId: getReport
      summary: Get a report
      description: Returns a representation of a single `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Report` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Report'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
    delete:
      operationId: deleteReport
      summary: Delete a report
      description: Deletes a single `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Empty body
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/archive:
    x-summary: Report
    patch:
      operationId: archiveReport
      summary: Archive a report
      description: Archives a single `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Report` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Report'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/unarchive:
    x-summary: Report
    patch:
      operationId: unarchiveReport
      summary: Unarchive a report
      description: Unarchives a single `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`Report` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Report'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/purge:
    x-summary: Report
    post:
      operationId: purgeAllReports
      summary: Purge all report results
      description: Removes all report results for an organization
      parameters:
      - name: time
        in: query
        description: All records older than the date ("YYYY-MM-DD") which should be purged.
        required: true
        schema:
          type: date
      - name: end_time
        in: query
        description: Purge records up to and including the end date ("YYYY-MM-DD"). Purging a large number of reports can result in error, so use the `end_time` to break up the purging into smaller requests.
        required: false
        schema:
          type: date
      - name: in_progress
        in: query
        description: Includes reports that are already in the process of purging. Defaults to `true`.
        required: false
        schema:
          type: boolean
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: '`Account` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema: {}
      tags:
      - Reports
  /{workspace}/reports/{report}/schedules:
    x-summary: ReportSchedule
    get:
      operationId: listReportSchedules
      summary: List schedules for a report
      description: Returns all `Schedule`s for a `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Report `Schedule` collection response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSchedules'
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
    post:
      operationId: createReportSchedule
      summary: Create a report schedule
      description: Creates a `Report` `Schedule`
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Report `Schedule` response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportScheduleRequestBody'
      tags:
      - Reports
  /{workspace}/reports/{report}/schedules/{schedule}:
    x-summary: ReportSchedule
    get:
      operationId: getReportSchedule
      summary: Get a report schedule
      description: Returns a `Report`'s `Schedule`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSchedule` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Report `Schedule` response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: schedule
        in: path
        description: '`Schedule` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
    patch:
      operationId: updateReportSchedule
      summary: Update a report schedule
      description: Updates a `Report`'s `Schedule`
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: schedule
        in: path
        description: '`Schedule` token'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSchedule` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Report `Schedule` response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReportScheduleRequestBody'
      tags:
      - Reports
    delete:
      operationId: deleteReportSchedule
      summary: Delete a report schedule
      description: Deletes a `Report`'s `Schedule`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSchedule` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Empty body
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: schedule
        in: path
        description: '`Schedule` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{workspace}/reports/schedules/v1/bulk_delete:
    x-summary: BulkDeleteReportSchedule
    delete:
      operationId: bulkDeleteReportSchedule
      summary: Delete of multiple report schedule
      description: Deletes multiple `Report`'s `Schedule`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSchedule` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Empty body
      parameters:
      - name: workspace
        in: path
        description: '`Workspace` username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: schedule
        in: path
        description: '`Schedule` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/subscriptions:
    x-summary: Report Subscription
    get:
      operationId: listSubscriptionsForReport
      summary: List subscriptions
      description: Returns all `Subscriptions` for a `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`ReportSubscription` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSubscriptions'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
    post:
      operationId: createSubscriptionForReport
      summary: Create subscription
      description: Creates and returns a `Subscription` for a `Report`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`ReportSubscription` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSubscription'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateorUpdateReportSubscriptionRequestBody'
      tags:
      - Reports
  /{account}/reports/{report}/subscriptions/{subscription}:
    x-summary: Report Subscription
    get:
      operationId: getSubscriptionForReport
      summary: Get subscription
      description: Returns a `Subscription` for a `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSubscription` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`ReportSubscription` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSubscription'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: subscription
        in: path
        description: '`ReportSubscription` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
    patch:
      operationId: updateSubscriptionForReport
      summary: Update subscription
      description: Updates and returns a `Subscription` for a `Report`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: subscription
        in: path
        description: '`ReportSubscription` token'
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSubscription` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`ReportSubscription` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSubscription'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateorUpdateReportSubscriptionRequestBody'
      tags:
      - Reports
    delete:
      operationId: deleteSubscriptionForReport
      summary: Delete subscription
      description: Deletes a `Subscription` for a `Report`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSubscription` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: Empty body
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: subscription
        in: path
        description: '`ReportSubscription` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/schedules/{schedule}/subscriptions:
    x-summary: Report Subscriptions
    get:
      operationId: listSubscriptionsForReportSchedule
      summary: List schedule subscriptions
      description: Returns all `subscriptions` for a `Report` `Schedule`
      responses:
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: '`ReportSchedule` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '200':
          description: '`ReportSubscription` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportSubscriptions'
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: schedule
        in: path
        description: '`Schedule` token'
        required: true
        schema:
          type: string
      tags:
      - Reports
  /{account}/reports/{report}/runs:
    x-summary: Datasets
    get:
      operationId: listReportRuns
      summary: List report runs
      description: Returns a list of `ReportRun`s for a `Report`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'Returns a filtered list of `Run`s for a `Report` filtered by whether their `created_at` or `updated_at` timestamps are `gt` (greater than) or `lt` (less than) the datetime passed in ISO8601 format. Example: `?filter=updated_at.lt.2019-10-23T06:23:01Z` returns all `Runs` in a space created before that date.'
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: With the `order` param, returns all `ReportRun`s for a `Report` ordered by their `created_at` or `updated_at` timestamps
        required: false
        schema:
          type: string
      - name: order_by
        in: query
        description: With the `order_by` param, returns all `ReportRun`s for a `Report` ordered in `asc` or `desc` order
        required: false
        schema:
          type: string
      responses:
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: '`ReportRun` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportRuns'
      tags:
      - Reports
    post:
      operationId: refreshDataset
      summary: Refresh a Dataset in a report
      description: Pulls in the latest run available in Mode for the `Dataset` in a specified report and does not re-run the `Dataset`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`Report` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '202':
          description: '`ReportRun` Accepted'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportRun'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshImportedDatasetRequestBody'
        description: Imported `Dataset` tokens to refresh
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}:
    x-summary: Report Run
    get:
      operationId: getReportRun
      summary: Get a report run
      description: Returns a representation of a single `ReportRun`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: '`ReportRun` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReportRun'
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/clone:
    x-summary: Report Run
    post:
      operationId: cloneReportRun
      summary: Clone a report run
      description: Returns a representation of the cloned `ReportRun`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`Report` response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Report'
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/options:
    x-summary: Form Fields
    get:
      operationId: listFormFields
      summary: List form fields
      description: Returns a list of Form Fields for a `ReportRun`
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '400':
          description: Bad request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '200':
          description: '`FormField` collection response'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/FormField'
      tags:
      - Reports
  /{account}/reports/{report}/runs/{run}/results/content(.csv, .json):
    x-summary: Export
    get:
      operationId: getReportRunContent
      summary: Get report results
      description: Gets the content of a report run in the requested format (csv or json)
      parameters:
      - name: account
        in: path
        description: '`Account` (`Workspace` or `User`) username'
        required: true
        schema:
          type: string
      - name: report
        in: path
        description: '`Report` token'
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: '`ReportRun` token'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: '`ReportRun` not found'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '401':
          description: Unauthorized
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '200':
          description: '`Report Run` result content in the requested format'
      tags:
      - Reports
components:
  schemas:
    UpdateQueryRequestBody:
      required:
      - query
      type: object
      properties:
        query:
          type: object
          description: The updated parameters for the `query`
          properties:
            data_source_id:
              type: integer
              minimum: 1
              description: The id of the data source to use
            raw_query:
              type: string
              example: SELECT * FROM small_table;
              description: The raw query to be executed
            name:
              type: string
              example: All the small things
              description: The name of the new `query`
    ChartLinks:
      properties:
        self:
          $ref: '#/components/schemas/Link'
        color_palette:
          $ref: '#/components/schemas/Link'
        report_viz_web:
          $ref: '#/components/schemas/Link'
        preview:
          $ref: '#/components/schemas/Link'
        report_run_viz_web:
          $ref: '#/components/schemas/Link'
        creator:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - report_viz_web
      - preview
      - report_run_viz_web
    ReportRuns:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/ReportRunsLinks'
        _embedded:
          $ref: '#/components/schemas/ReportRunsEmbeds'
      required:
      - _links
    QueryRunsLinks:
      properties:
        next_page:
          $ref: '#/components/schemas/Link'
        prev_page:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    QueryRunsEmbeds: {}
    ReportFiltersEmbeds: {}
    ReportRunLinks:
      properties:
        latest_successful_report_run_api_url:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        content:
          $ref: '#/components/schemas/Link'
        preview:
          $ref: '#/components/schemas/Link'
        account:
          $ref: '#/components/schemas/Link'
        report_schedule:
          $ref: '#/components/schemas/Link'
        executed_by:
          $ref: '#/components/schemas/Link'
        share:
          $ref: '#/components/schemas/Link'
        embed:
          $ref: '#/components/schemas/Link'
        report:
          $ref: '#/components/schemas/Link'
        clone:
          $ref: '#/components/schemas/Link'
        query_runs:
          $ref: '#/components/schemas/Link'
        python_cell_runs:
          $ref: '#/components/schemas/Link'
        pdf_export:
          $ref: '#/components/schemas/Link'
        web_edit_dataset:
          $ref: '#/components/schemas/Link'
        web_clone:
          $ref: '#/components/schemas/Link'
        web_external_url:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - account
      - report
      - query_runs
    QueryChartsEmbeds: {}
    ChartEmbeds: {}
    ReportFilters:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/ReportFiltersLinks'
        _embedded:
          $ref: '#/components/schemas/ReportFiltersEmbeds'
      required:
      - _links
    ReportQueries:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/ReportQueriesLinks'
        _embedded:
          $ref: '#/components/schemas/ReportQueriesEmbeds'
      required:
      - _links
    Chart:
      properties:
        view:
          $ref: '#/components/schemas/VizView'
        view_version:
          type: integer
        view_vegas:
          $ref: '#/components/schemas/VizViewVegas'
        token:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        color_palette_token:
          type: string
        switch_view_token:
          type: string
        _links:
          $ref: '#/components/schemas/ChartLinks'
        _embedded:
          $ref: '#/components/schemas/ChartEmbeds'
      required:
      - _links
      - view
      - view_version
      - view_vegas
      - token
      - created_at
      - updated_at
    ReportSchedule:
      properties:
        name:
          type: string
        token:
          type: string
        parameters:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        retry_state:
          type: string
        retry_count:
          type: string
        retry_delay:
          type: string
        timeout:
          type: string
        last_run_at:
          type: string
        last_succeeded_at:
          type: string
        last_scheduled_run:
          type: string
        next_scheduled_run:
          type: string
        report_name:
          type: string
        delivery:
          type: string
        report_token:
          type: string
        report_type:
          type: string
        subscribed:
          type: string
        subscriber_count:
          type: string
        _links:
          $ref: '#/components/schemas/ReportScheduleLinks'
        _embedded:
          $ref: '#/components/schemas/ReportScheduleEmbeds'
      required:
      - _links
      - name
      - token
      - parameters
      - created_at
      - updated_at
      - retry_state
      - retry_count
      - retry_delay
      - timeout
      - last_run_at
      - last_succeeded_at
      - last_scheduled_run
      - next_scheduled_run
      - report_name
      - delivery
      - report_token
      - report_type
      - subscribed
      - subscriber_count
    NotFound:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - not_found
        message:
          type: string
    ReportScheduleRequestBodyNameProperty:
      type: string
      description: The name of the schedule
      example: Qui Officia
    CreateorUpdateReportSubscriptionRequestBody:
      type: object
      properties:
        csv_attachments:
          type: boolean
          description: Whether or not to include Csv Attachments for subscribers to the scheduled run
          example: true
        pdf_attachments:
          type: boolean
          description: Whether or not to include Pdf Attachments for subscribers to the scheduled run
          example: true
        data_previews:
          type: boolean
          description: Whether or not to include Data Previews for subscribers to the scheduled run
          example: true
        data_tables:
          type: boolean
          description: Whether or not to include Data Tables for subscribers to the scheduled run
          example: true
        report_links:
          type: boolean
          description: Whether or not to include Report Links for subscribers to the scheduled run
          example: true
    UpdateReportRequestBody:
      required:
      - report
      type: object
      properties:
        report:
          type: object
          properties:
            name:
              type: string
              description: The name of the report
              example: Kanto Region Diaspora
            description:
              type: string
              description: A description of the report in question
              example: An analysis of all the creatures living in the region. Please contribute any missing data. Pocket version coming soon.
            space_token:
              type: string
              description: The token of the space this report will be moved to
              example: 5a4177a2902c
    ReportRunsLinks:
      properties:
        next_page:
          $ref: '#/components/schemas/Link'
        prev_page:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    ReportSubscriptionsLinks:
      properties:
        next_page:
          $ref: '#/components/schemas/Link'
        prev_page:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    ReportSchedulesLinks:
      properties:
        next_page:
          $ref: '#/components/schemas/Link'
        prev_page:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    ReportSubscriptionEmbeds: {}
    Link:
      required:
      - href
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
    FormField:
      properties:
        name:
          type: string
        options:
          type: string
        options_error:
          type: string
        source_size:
          type: string
        _links:
          $ref: '#/components/schemas/FormFieldLinks'
        _embedded:
          $ref: '#/components/schemas/FormFieldEmbeds'
      required:
      - _links
      - name
      - options
      - options_error
      - source_size
    ReportQueriesLinks:
      properties:
        next_page:
          $ref: '#/components/schemas/Link'
        prev_page:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    ReportSchedulesEmbeds: {}
    ReportSubscription:
      properties:
        data_previews_enabled:
          type: boolean
        data_tables_enabled:
          type: boolean
        csv_attachments_enabled:
          type: boolean
        pdf_attachments_enabled:
          type: boolean
        report_links_enabled:
          type: boolean
        email_subscriber_count:
          type: integer
        _links:
          $ref: '#/components/schemas/ReportSubscriptionLinks'
        _embedded:
          $ref: '#/components/schemas/ReportSubscriptionEmbeds'
      required:
      - _links
      - data_previews_enabled
      - data_tables_enabled
      - csv_attachments_enabled
      - pdf_attachments_enabled
      - report_links_enabled
      - email_subscriber_count
    Unauthorized:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - unauthorized
        message:
          type: string
    ReportFiltersLinks:
      properties:
        next_page:
          $ref: '#/components/schemas/Link'
        prev_page:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    ReportScheduleRequestBodyCronProperty:
      type: object
      description: 'CronLine attributes to determine your scheduled runtime. '
      properties:
        freq:
          enum:
          - every_15_minutes
          - every_30_minutes
          - hourly
          - daily
          - weekly
          - monthly
          description: How often this schedule repeats
          example: hourly
        day_of_month:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          description: The day of the month this schedule runs on
          example: 15
        day_of_week:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          description: The day of the week this schedule runs on (Sunday to Saturday)
          example: 5
        hour:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          description: The hour of the day this schedule runs at (12am to 11pm)
          example: 8
        minute:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          - 32
          - 33
          - 34
          - 35
          - 36
          - 37
          - 38
          - 39
          - 40
          - 41
          - 42
          - 43
          - 44
          - 45
          - 46
          - 47
          - 48
          - 49
          - 50
          - 51
          - 52
          - 53
          - 54
          - 55
          - 56
          - 57
          - 58
          - 59
          description: The minute of the hour this schedules runs at
          example: 0
        time_zone:
          enum:
          - International Date Line West
          - Midway Island
          - American Samoa
          - Hawaii
          - Alaska
          - Pacific Time (US & Canada)
          - Tijuana
          - Mountain Time (US & Canada)
          - Arizona
          - Chihuahua
          - Mazatlan
          - Central Time (US & Canada)
          - Saskatchewan
          - Guadalajara
          - Mexico City
          - Monterrey
          - Central America
          - Eastern Time (US & Canada)
          - Indiana (East)
          - Bogota
          - Lima
          - Quito
          - Atlantic Time (Canada)
          - Caracas
          - La Paz
          - Santiago
          - Newfoundland
          - Brasilia
          - Buenos Aires
          - Montevideo
          - Georgetown
          - Puerto Rico
          - Greenland
          - Mid-Atlantic
          - Azores
          - Cape Verde Is.
          - Dublin
          - Edinburgh
          - Lisbon
          - London
          - Casablanca
          - Monrovia
          - UTC
          - Belgrade
          - Bratislava
          - Budapest
          - Ljubljana
          - Prague
          - Sarajevo
          - Skopje
          - Warsaw
          - Zagreb
          - Brussels
          - Copenhagen
          - Madrid
          - Paris
          - Amsterdam
          - Berlin
          - Bern
          - Zurich
          - Rome
          - Stockholm
          - Vienna
          - West Central Africa
          - Bucharest
          - Cairo
          - Helsinki
          - Kyiv
          - Riga
          - Sofia
          - Tallinn
          - Vilnius
          - Athens
          - Istanbul
          - Minsk
          - Jerusalem
          - Harare
          - Pretoria
          - Kaliningrad
          - Moscow
          - St. Petersburg
          - Volgograd
          - Samara
          - Kuwait
          - Riyadh
          - Nairobi
          - Baghdad
          - Tehran
          - Abu Dhabi
          - Muscat
          - Baku
          - Tbilisi
          - Yerevan
          - Kabul
          - Ekaterinburg
          - Islamabad
          - Karachi
          - Tashkent
          - Chennai
          - Kolkata
          - Mumbai
          - New Delhi
          - Kathmandu
          - Astana
          - Dhaka
          - Sri Jayawardenepura
          - Almaty
          - Novosibirsk
          - Rangoon
          - Bangkok
          - Hanoi
          - Jakarta
          - Krasnoyarsk
          - Beijing
          - Chongqing
          - Hong Kong
          - Urumqi
          - Kuala Lumpur
          - Singapore
          - Taipei
          - Perth
          - Irkutsk
          - Ulaanbaatar
          - Seoul
          - Osaka
          - Sapporo
          - Tokyo
          - Yakutsk
          - Darwin
          - Adelaide
          - Canberra
          - Melbourne
          - Sydney
          - Brisbane
          - Hobart
          - Vladivostok
          - Guam
          - Port Moresby
          - Magadan
          - Srednekolymsk
          - Solomon Is.
          - New Caledonia
          - Fiji
          - Kamchatka
          - Marshall Is.
          - Auckland
          - Wellington
          - Nuku'alofa
          - Tokelau Is.
          - Chatham Is.
          - Samoa
          description: The name of the time zone in which to evaluate the scheduled time to run
          example: Pacific Time (US & Canada)
    Pagination:
      required:
      - first_page
      - last_page
      - total_pages
      - total_count
      properties:
        first_page:
          type: string
        last_page:
          type: string
        total_pages:
          type: integer
        total_count:
          type: integer
    ReportRun:
      properties:
        token:
          type: string
        state:
          enum:
          - pending
          - enqueued
          - cancelled
          - failed
          - succeeded
          - completed
          - running_notebook
          type: string
        parameters:
          $ref: '#/components/schemas/ReportRunParameters'
        created_at:
          type: string
        updated_at:
          type: string
        completed_at:
          type: string
        purge_started_at:
          type: string
        purge_completed_at:
          type: string
        python_state:
          enum:
          - none
          - pending
          - failed
          - submitted
          - succeeded
          type: string
        form_fields:
          type: array
        is_latest_report_run:
          type: string
        is_latest_successful_report_run:
          type: string
        report_has_failures_since_last_success:
          type: string
        pusher_channel_name:
          type: string
        _links:
          $ref: '#/components/schemas/ReportRunLinks'
        _embedded:
          $ref: '#/components/schemas/ReportRunEmbeds'
      required:
      - _links
      - token
      - state
      - created_at
      - updated_at
      - completed_at
      - purge_started_at
      - purge_completed_at
      - is_latest_report_run
      - is_latest_successful_report_run
      - report_has_failures_since_last_success
    Report:
      properties:
        token:
          type: string
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        published_at:
          type: string
        edited_at:
          type: string
        theme_id:
          type: integer
        color_mappings:
          type: string
        type:
          type: string
        last_successful_sync_at:
          type: string
        last_saved_at:
          type: string
        archived:
          type: boolean
        space_token:
          type: string
        account_id:
          type: integer
        account_username:
          type: string
        public:
          type: boolean
        full_width:
          type: boolean
        manual_run_disabled:
          type: boolean
        drill_anywhere_enabled:
          type: boolean
        run_privately:
          type: boolean
        drilldowns_enabled:
          type: boolean
        layout:
          type: string
        is_embedded:
          type: boolean
        is_signed:
          type: boolean
        imported_datasets:
          type: string
        shared:
          type: boolean
        expected_runtime:
          type: number
        last_successfully_run_at:
          type: string
        last_run_at:
          type: string
        web_preview_image:
          type: string
        last_successful_run_token:
          type: string
        github_link:
          type: string
        query_count:
          type: string
        max_query_count:
          type: string
        chart_count:
          type: string
        runs_count:
          type: string
        schedules_count:
          type: string
        query_preview:
          type: string
        view_count:
          type: string
        thoughtspot_published_at:
          type: string
        _links:
          $ref: '#/components/schemas/ReportLinks'
        _embedded:
          $ref: '#/components/schemas/ReportEmbeds'
      required:
      - _links
      - token
      - id
      - name
      - created_at
      - updated_at
      - published_at
      - edited_at
      - type
      - last_successful_sync_at
      - last_saved_at
      - archived
      - account_id
      - account_username
      - public
      - manual_run_disabled
      - drill_anywhere_enabled
      - run_privately
      - drilldowns_enabled
      - expected_runtime
      - last_successfully_run_at
      - last_run_at
      - last_successful_run_token
      - query_count
      - max_query_count
      - runs_count
      - schedules_count
      - query_preview
      - view_count
      - thoughtspot_published_at
    UpdateReportScheduleRequestBody:
      properties:
        cron:
          $ref: '#/components/schemas/ReportScheduleRequestBodyCronProperty'
        name:
          $ref: '#/components/schemas/ReportScheduleRequestBodyNameProperty'
        timeout:
          $ref: '#/components/schemas/ReportScheduleRequestBodyTimeoutProperty'
        params:
          $ref: '#/components/schemas/ReportScheduleRequestBodyParamsProperty'
    CreateReportScheduleRequestBody:
      required:
      - cron
      properties:
        cron:
          $ref: '#/components/schemas/ReportScheduleRequestBodyCronProperty'
        name:
          $ref: '#/components/schemas/ReportScheduleRequestBodyNameProperty'
        timeout:
          $ref: '#/components/schemas/ReportScheduleRequestBodyTimeoutProperty'
        params:
          $ref: '#/components/schemas/ReportScheduleRequestBodyParamsProperty'
    Query:
      properties:
        id:
          type: string
        token:
          type: string
        raw_query:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        name:
          type: string
        last_run_id:
          type: string
        data_source_id:
          type: string
        explorations_count:
          type: string
        report_imports_count:
          type: string
        dbt_metric_id:
          type: string
        dbt_metric_token:
          type: string
        mapping_id:
          type: string
        _links:
          $ref: '#/components/schemas/QueryLinks'
        _embedded:
          $ref: '#/components/schemas/QueryEmbeds'
      required:
      - _links
      - id
      - token
      - created_at
      - updated_at
      - name
      - last_run_id
      - data_source_id
      - explorations_count
      - report_imports_count
      - dbt_metric_id
    FormFieldLinks: {}
    RefreshImportedDatasetRequestBody:
      required:
      - report
      type: object
      properties:
        report:
          type: object
          properties:
            dataset_tokens:
              type: array
              description: An array of `Dataset` objects containing only their token
              example: '[{ token: ''5a4177a2902c'' }]'
    VizView:
      required:
      - selectedChart
      - bar
      - bigNumber
      - line
      - linePlusBar
      - scatter
      - pie
      - area
      - pivotTable
      properties:
        selectedChart:
          type: string
        chartIcon:
          type: string
        chartTitle:
          type: string
        bar:
          type: object
        bigNumber:
          type: object
        line:
          type: object
        linePlusBar:
          type: object
        scatter:
          type: object
        pie:
          type: object
        area:
          type: object
        pivotTable:
          type: object
    QueryRunEmbeds: {}
    ReportSubscriptionLinks:
      properties:
        self:
          $ref: '#/components/schemas/Link'
        report_schedule:
          $ref: '#/components/schemas/Link'
        email_subscription_memberships:
          $ref: '#/components/schemas/Link'
        slack_subscription_memberships:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - report_schedule
      - email_subscription_memberships
      - slack_subscription_memberships
    BadRequest:
      required:
      - id
      - message
      properties:
        id:
          type: string
          enum:
          - bad_request
        message:
          type: string
    ReportLinks:
      properties:
        self:
          $ref: '#/components/schemas/Link'
        web:
          $ref: '#/components/schemas/Link'
        web_edit:
          $ref: '#/components/schemas/Link'
        web_external_url:
          $ref: '#/components/schemas/Link'
        csv_export:
          $ref: '#/components/schemas/Link'
        share:
          $ref: '#/components/schemas/Link'
        web_report_runs:
          $ref: '#/components/schemas/Link'
        account:
          $ref: '#/components/schemas/Link'
        report_run:
          $ref: '#/components/schemas/Link'
        star:
          $ref: '#/components/schemas/Link'
        space:
          $ref: '#/components/schemas/Link'
        space_links:
          $ref: '#/components/schemas/Link'
        queries:
          $ref: '#/components/schemas/Link'
        report_runs:
          $ref: '#/components/schemas/Link'
        report_pins:
          $ref: '#/components/schemas/Link'
        report_filters:
          $ref: '#/components/schemas/Link'
        report_schedules:
          $ref: '#/components/schemas/Link'
        report_subscriptions:
          $ref: '#/components/schemas/Link'
        dataset_dependencies:
          $ref: '#/components/schemas/Link'
        python_visualizations:
          $ref: '#/components/schemas/Link'
        embed_key:
          $ref: '#/components/schemas/Link'
        last_run:
          $ref: '#/components/schemas/Link'
        last_successful_run:
          $ref: '#/components/schemas/Link'
        python_notebook:
          $ref: '#/components/schemas/Link'
        perspective_email_subscription_memberships:
          $ref: '#/components/schemas/Link'
        validate_email_subscriber:
          $ref: '#/components/schemas/Link'
        creator:
          $ref: '#/components/schemas/Link'
        report_theme:
          $ref: '#/components/schemas/Link'
        last_successful_github_sync:
          $ref: '#/components/schemas/Link'
        report_index_web:
          $ref: '#/components/schemas/Link'
        dbt_metadata:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - web
      - account
      - report_run
      - queries
      - report_runs
      - report_pins
      - report_schedules
      - last_run
      - last_successful_run
      - perspective_email_subscription_memberships
      - last_successful_github_sync
    FormFieldEmbeds: {}
    ReportRunsEmbeds: {}
    QueryRun:
      properties:
        id:
          type: string
        token:
          type: string
        raw_source:
          type: string
        statement_annotation:
          type: string
        state:
          type: string
        created_at:
          type: string
        completed_at:
          type: string
        data_source_id:
          type: string
        data_source_token:
          type: string
        limit:
          type: string
        query_token:
          type: string
        query_name:
          type: string
        query_created_at:
          type: string
        dbt_metric_id:
          type: string
        dbt_metric_token:
          type: string
        parameters:
          type: string
        rendered_source:
          type: string
        max_result_bytes:
          type: string
        help_url:
          type: string
        error_code:
          type: string
        error_type:
          type: string
        error_message:
          type: string
        _links:
          $ref: '#/components/schemas/QueryRunLinks'
        _embedded:
          $ref: '#/components/schemas/QueryRunEmbeds'
      required:
      - _links
      - id
      - token
      - state
      - created_at
      - completed_at
      - data_source_id
      - data_source_token
      - limit
      - query_token
      - query_name
      - query_created_at
      - dbt_metric_id
      - parameters
      - max_result_bytes
    ReportRunParameters: {}
    ReportFilterLinks:
      properties:
        self:
          $ref: '#/components/schemas/Link'
        report:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - report
    CreateQueryRequestBody:
      required:
      - query
      type: object
      properties:
        query:
          required:
          - raw_query
          - data_source_id
          type: object
          description: The parameters for the new `query`
          properties:
            data_source_id:
              type: integer
              minimum: 1
              description: The id of the data source to use
            raw_query:
              type: string
              example: SELECT * from the_way_down
              description: The raw query to be executed
            name:
              type: string
              example: Turtles
              description: The name of the new `query`
    CreateOrUpdateReportFilterRequestBody:
      required:
      - report_filter
      properties:
        report_filter:
          $ref: '#/components/schemas/CreateOrUpdateReportFilterAttributes'
    QueryCharts:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/QueryChartsLinks'
        _embedded:
          $ref: '#/components/schemas/QueryChartsEmbeds'
      required:
      - _links
    QueryEmbeds: {}
    ReportScheduleRequestBodyTimeoutProperty:
      type: integer
      description: "How long, in seconds, the system should wait before it decides the schedule should run\n                          again even if the last run has not completed"
      example: 3600
    VizViewVegas:
      required:
      - format
      - encoding
      - chartType
      properties:
        title:
          type: string
        format:
          type: object
        encoding:
          type: object
        chartType:
          type: string
          example: bigValue
    ReportSubscriptionsEmbeds: {}
    QueryChartsLinks:
      properties:
        next_page:
          $ref: '#/components/schemas/Link'
        prev_page:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      required:
      - self
    ReportFilter:
      properties:
        id:
          type: integer
        report_id:
          type: integer
        token:
          type: string
        name:
          type: string
        row_order:
          type: integer
        formula:
          type: string
        data_type:
          type: string
        formula_type:
          type: string
        hide_select_all:
          type: string
        show_relevant_values_only:
          type: boolean
        filter_type:
          enum:
          - SINGLE
          - MULTI
          - RANGE
          type: string
        control_type:
          enum:
          - LIST
          - DROPDOWN
          - RANGE
          type: string
        variable_type:
          enum:
          - CONTINUOUS
          - DISCRETE
          type: string
        options:
          $ref: '#/components/schemas/ReportFilterOptions'
        created_at:
          type: string
        updated_at:
          type: string
        _links:
          $ref: '#/components/schemas/ReportFilterLinks'
        _embedded:
          $ref: '#/components/schemas/ReportFilterEmbeds'
      required:
      - _links
      - id
      - report_id
      - token
      - name
      - row_order
      - formula
      - data_type
      - formula_type
      - hide_select_all
      - show_relevant_values_only
      - filter_type
      - control_type
      - variable_type
      - options
      - created_at
      - updated_at
    QueryLinks:
      properties:
        self:
          $ref: '#/components/schemas/Link'
        report:
          $ref: '#/components/schemas/Link'
        report_runs:
          $ref: '#/components/schemas/Link'
        charts:
          $ref: '#/components/schemas/Link'
        new_chart:
          $ref: '#/components/schemas/Link'
        new_query_table:
          $ref: '#/components/schemas/Link'
        query_tables:
          $ref: '#/components/schemas/Link'
        query_runs:
          $ref: '#/components/schemas/Link'
        creator:
          $ref: '#/components/schemas/Link'
        metric:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - report
      - report_runs
      - query_runs
    ReportFilterOptions: {}
    ReportScheduleEmbeds: {}
    ReportSchedules:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/ReportSchedulesLinks'
        _embedded:
          $ref: '#/components/schemas/ReportSchedulesEmbeds'
      required:
      - _links
    ReportScheduleRequestBodyParamsProperty:
      type: object
      description: "A set of key/value pairs that match report parameter names and values, if the report for this\n                        schedule has any and you would like to schedule it with specific values"
      example:
        foo: bar
    ReportFilterEmbeds: {}
    ReportSubscriptions:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/ReportSubscriptionsLinks'
        _embedded:
          $ref: '#/components/schemas/ReportSubscriptionsEmbeds'
      required:
      - _links
    CreateOrUpdateReportFilterAttributes:
      required:
      - name
      - formula
      - data_type
      - formula_type
      - variable_type
      - filter_type
      - control_type
      - options
      properties:
        name:
          type: string
          description: '`ReportFilter` name'
        formula:
          type: string
          description: '`ReportFilter` formula'
        data_type:
          type: string
          description: '`ReportFilter` data type'
        formula_type:
          type: string
          description: '`ReportFilter` formula type'
        filter_type:
          enum:
          - SINGLE
          - MULTI
          - RANGE
          description: '`ReportFilter` type'
        control_type:
          enum:
          - LIST
          - DROPDOWN
          - RANGE
          description: '`ReportFilter` control type'
        variable_type:
          enum:
          - CONTINUOUS
          - DISCRETE
          description: '`ReportFilter` variable type'
        options:
          $ref: '#/components/schemas/ReportFilterOptions'
        next_filter_token:
          type: string
          description: Token of the `ReportFilter` that should come after this one, if manual ordering is desired. To move a ReportFilter to the bottom of the list use an empty string, `""`
    ReportScheduleLinks:
      properties:
        account:
          $ref: '#/components/schemas/Link'
        creator:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        report:
          $ref: '#/components/schemas/Link'
        report_web:
          $ref: '#/components/schemas/Link'
        report_runs:
          $ref: '#/components/schemas/Link'
        report_subscriptions:
          $ref: '#/components/schemas/Link'
      required:
      - account
      - self
      - report
      - report_web
      - report_runs
      - report_subscriptions
    QueryRunLinks:
      properties:
        self:
          $ref: '#/components/schemas/Link'
        query:
          $ref: '#/components/schemas/Link'
        view:
          $ref: '#/components/schemas/Link'
        result:
          $ref: '#/components/schemas/Link'
        result_web:
          $ref: '#/components/schemas/Link'
        query_web:
          $ref: '#/components/schemas/Link'
        report_run:
          $ref: '#/components/schemas/Link'
        report_run_web:
          $ref: '#/components/schemas/Link'
        executed_by:
          $ref: '#/components/schemas/Link'
      required:
      - self
      - query
      - result
      - result_web
      - query_web
      - report_run
      - report_run_web
    QueryRuns:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/QueryRunsLinks'
        _embedded:
          $ref: '#/components/schemas/QueryRunsEmbeds'
      required:
      - _links
    ReportRunEmbeds: {}
    ReportQueriesEmbeds: {}
    ReportEmbeds: {}
  securitySchemes:
    accessTokenAuth:
      type: http
      scheme: basic
